.btn {
    background-color: #3985D8;
    cursor: pointer;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-size: 18px;
    line-height: 24px;
    border-radius: 8px;
    padding: 16px;
}

.btn:hover {
    opacity: 0.8;
}

.btn:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}